/* general */
* {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 3rem;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  padding: 1.5rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.8rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form {
  display: inline-block;
  text-align: left;
}

form label {
  display: block;
  margin-top: 10px;
}

form textarea {
  width: 100%;
  resize: none;
}

fieldset {
  border: none;
  width: 100%;
}

.formButton {
  display: inline-block;
  text-align: center;
}

/* sections layouts */
section {
  margin: 1.8rem 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: #f0f0f0;
  padding: 1.8rem;
  margin: 1rem;
  flex: 1 1 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* other layouts */
button {
  display: inline;
  cursor: pointer;
  margin: 0.8rem 0;
  width: 5rem;
  height: 1.5rem;
  transition: transform 0.3s ease;
}

#profileImage {
  width: 9.375rem;
  border-radius: 50%;
}

.projetcItem {
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: fit-content;
  padding: 0.5rem 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projetcItem:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1rem 1rem 1.9rem rgba(0, 0, 0, 0.5);
}

.projectPreview {
  border: 1px solid #000;
  border-radius: 1rem;
  width: 28rem;
}

#download a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  padding: 0.5rem;
  width: 3rem;
}

#download a:hover {
  text-decoration: underline;
}

#download a:hover:active {
  color: #800080;
  text-decoration: underline;
}

@media (max-width: 600px) {
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0;
  }

  .projectPreview {
    border: 1px solid #000;
    border-radius: 1rem;
    width: 18rem;
  }
}